spring:
  datasource:
    url: jdbc:postgresql://antonio-dev.go.ro:16433/onlyfeetdb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    drop-first: false # Drops and creates scheme from scratch on every start
    change-log: classpath:db/changelog/db.changelog-master.yaml
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://antonio-dev.go.ro:8081/keycloak-app/realms/onlyfeet-realm

keycloak:
  realm: onlyfeet-realm
  resource: onlyfeet-backend
  # auth-server-url: http://antonio-dev.go.ro:8081/keycloack-app/realms/gym-management-realm/protocol/openid-connect/auth
  auth-server-url: http://antonio-dev.go.ro:8081/keycloak-app/
  credentials:
    secret: PyJmrhQ8AvxlBVQXJ1Wov9hswZEGzgep
  admin:
    username: admin
    password: admin

cors:
  allowed-origins: "http://localhost:3000,http://antonio-dev.go.ro:8081/autoflex-fe"
  allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
  allowed-headers: "*"

upload:
  dir: uploads/

external-link:
  #url: "http://localhost:8080/images/"
  url: "http://antonio-dev.go.ro:8081/autoflex-fe/images/"